.wrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 600px;
  height: 600px;
}

div{
	width: 200px;
	height: 200px;
}

.wrapper>div:nth-child(odd){
	background-color: #850000;
}

 .wrapper>div:nth-child(even){
	display:flex;
	align-items:center;
	justify-content: center;
}
